.sponsors img {
  margin: 0 2.7rem;
  filter: grayscale(100%);
}

.sponsors a:hover img {
  filter: grayscale(0%);
}

.paymethods {
  background-color: #649267;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding: 2rem 0;
}

.paymethods img {
  width: 50px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.paymethods h3 {
  margin: 5px 0 5px 0;
}

.paymethods a:hover img {
  cursor: default;
  animation: animate 1s 1 ease-out;
}

@keyframes animate {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(3.142rad);
  }
  100% {
    transform: rotateY(0);
  }
}

.paymethods span hr {
  transform: rotate(0.5turn);
  height: 100px;
}

.information {
  display: flex;
  justify-content: space-between;
  background: #1a1919;
  padding: 3rem 4rem;
}

.information h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-style: italic;
}

.information p,
.information a {
  color: #8a8989;
  text-decoration: none;
}

.information ul {
  list-style-type: none;
}

.information ul li {
  margin: 10px 0;
}

.information ul li::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  background-image: url(https://i.postimg.cc/wBXXdR4k/arrow-right.png);
  background-repeat: no-repeat;
  background-size: 10px;
}

.address,
.card-number,
.phone,
.email {
  display: flex;
  margin: 10px 0;
}

.information img {
  width: 20px;
  height: auto;
  margin-right: 10px;
  filter: opacity(50%);
}

.address img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  position: relative;
  right: 3px;
  margin-top: 5px;
}

.newsletter input {
  margin-top: 1rem;
}

.newsletter input[type="text"] {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  outline: none;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  padding: 0 20px;
}

.newsletter input::placeholder {
  color: #000;
}

.newsletter input[type="button"] {
  background: rgb(121, 119, 119);
  position: absolute;
  border: none;
  color: #fff;
  font-size: 16px;
  outline: none;
  border-radius: 20px;
  height: 40px;
  width: 60px;
  right: 30px;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
}

.newsletter input[type="button"]:hover {
  background-color: #649267;
}

.socialmedia {
  background: #202020;
  color: #8a8989;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
}

.socialmedia p {
  position: relative;
  top: 5px;
}

.socialmedia-images img {
  margin: 0 5px;
  position: relative;
  top: 5px;
}

.socialmedia a img {
  width: 20px;
  filter: grayscale(100%);
}

.socialmedia a:hover img {
  filter: grayscale(0%);
}

.credit-cards {
  position: relative;
  top: 5px;
}

.credit-cards img {
  margin: 0 5px;
}
