:root {
    --title-font: 'Playfair Display', serif;
    --body-font: 'Roboto', sans-serif;
    --background-black: #171717;
    --background-green: #5D986A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: var(--body-font);
}

/* PROMOS */
.promos__collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.collection__p {
    width: 100%;
}
.collection__title {
    width: 100%;
    font-family: var(--title-font);
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
}
.promos {
    display: grid;
    grid-template-columns: minmax(260px, 320px);
    grid-template-rows: 100px 300px 320px 320px;
    gap: 20px;
    width: 100%;
    padding: 40px 20px;
}
.promos__season-sale {
    width: 100%;
    height: 100%;
}
.season-sale img {
    width: 100%;
    height: 100%;
}
.promos__beauty-face {
    width: 100%;
    height: 100%;
}
.beauty-face img {
    width: 100%;
    height: 100%;
}
.promos__daily-care {
    width: 100%;
    height: 100%;
}
.daily-care img {
    width: 100%;
    height: 100%;
}