:root {
    --title-font: 'Playfair Display', serif;
    --body-font: 'Roboto', sans-serif;
    --background-black: #171717;
    --background-green: #5D986A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: var(--body-font);
}



/* HEADER */


.header {
    background-color: #171717;
    width: 100%;
}
.header-wrapper {
    padding: 0 1rem;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__burger-menu{
    width: 30px;
}
.header__burger-menu img{
    width: 100%;
}


.header__Logo{
    width: 150px;
}
.header__Logo img{
    width: 100%;
}


.header__icons{
    display: flex;
}
.header__icons--item{
    margin-left: 5px;
    width: 30px;
}
.header__icons img{
    width: 100%;
}



/* PROMOS */
.promos {
    display: grid;
    grid-template-columns: 260px;
    grid-template-rows: 120px 300px 360px 320px;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 40px 20px;
}
.promos__collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.collection__p {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: var(--background-black);
}
.collection__title {
    width: 100%;
    font-family: var(--title-font);
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
}
.collection__title:hover {
    color: var(--background-green);
}
.collection__shop {
    height: 40px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    background-color: var(--background-black);
}
.collection__shop:hover {
    background-color: var(--background-green);
}
.promos__season-sale {
    width: 100%;
    height: 100%;
}
.season-sale img {
    width: 100%;
    height: 100%;
}
.promos__beauty-face {
    width: 100%;
    height: 100%;
}
.beauty-face img {
    width: 100%;
    height: 100%;
}
.promos__daily-care {
    width: 100%;
    height: 100%;
}
.daily-care img {
    width: 100%;
    height: 100%;
}


/************    trends    ***********/
.trends{
    height: 250px;
}


/************    news    ***********/

.news{
    margin:auto 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.news h2{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.news__elements{
    touch-action: manipulation;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}


.news__item{
    /* width: 280px; */
    width: calc(100vw - 60px);
    margin: auto 10px;
}
.news__item img{
    width: 100%;
    object-fit: cover;
}

.news__description{
    text-align: center;
    padding: 20px 30px;
}
.news__description p{
    margin: 10px 0;
}
.news__description a{
    text-decoration: none;
    color: #615d5d;
}

/************    partners    ***********/

.partners{
    /* background-color: #5D986A; */
    margin:auto 20px;
    position: relative;
    display: flex;
    /* overflow: hidden; */
}

.partners__elements{
    touch-action: manipulation;
    height: 140px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}


.partners__elements li{
    min-width: calc((100vw - 40px)/2 );
    flex-grow: 1;
}

.partners__item{
    width: 140px;
    margin: auto;
}

/* .partners--active{
    float: left;
    min-width: 50%;
} */

.partners__item>img{
    width: 100%;
}
.partners .arrow-nav{
    position: absolute;
    left: 0;
    right: 0;
}
.partners .arrow-nav__item{
    background-color: #ffffff;
    border:.5px solid #c2c1c1;
	position: absolute;
	z-index: 40;
    margin: 0;
    width: 25px;
    height: 25px;
    top: 57.5px;
}
.nav--right{
    right: 0;
}
.partners .arrow-nav__item:hover{
    background-color: #5D986A;
    transition: background-color 1s;
}


@media screen and (min-width: 480px){
	.partners__elements li{
        min-width: calc((100vw - 40px)/3 );
    }
    .news__item{
        width: calc((50vw - 47px));
    }
}
